---
component: Grids and columns
layout: main-layout.html
analytics:
  pageCategory: component
  component: layout
---

<a href="https://design.atlassian.com/latest/product/foundations/layout/" class="aui-button aui-button-link docs-meta-link">Design guidelines</a>
<h3>Summary</h3>

<p>This system allows you to quickly set up columns and grids within a page content layout. Even though there is a dedicated page content layout system for the overall page content, you can use the columns and grids whenever you need them.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span>
            </td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td>Yes. You do not need to explicitly require the web resource key.</td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-page-layout"><code>com.atlassian.auiplugin:aui-page-layout</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>3.6</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.1</td>
        </tr>
    </tbody>
</table>

<h3>Examples</h3>
<div class="aui-flatpack-example layout-example">
    <div class="aui-group">
        <div class="aui-item">
            <p>Evenly spaced item</p>
        </div>
        <div class="aui-item">
            <p>Evenly spaced item</p>
        </div>
        <div class="aui-item">
            <p>Evenly spaced item</p>
        </div>
        <div class="aui-item">
            <p>Evenly spaced item</p>
        </div>
    </div>
    <div class="aui-group aui-group-split">
        <div class="aui-item">
            <p>Split group - first item aligned left.</p>
        </div>
        <div class="aui-item">
            <p>Split group - second item aligned right.</p>
        </div>
    </div>
    <div class="aui-group aui-group-trio">
        <div class="aui-item">
            <p>Trio group - first item aligned left.</p>
        </div>
        <div class="aui-item">
            <p>Trio group - second item aligned centre.</p>
        </div>
        <div class="aui-item">
            <p>Trio group - third item aligned right.</p>
        </div>
    </div>
</div>
<h3>Code</h3>
<h4>HTML</h4>
<p>The basic setup is simple, for evenly-spaced columns add instances of <code>aui-item</code> inside one instance of <code>aui-group</code>:</p>

<aui-docs-example>
    <noscript is="aui-docs-code" type="text/html">
        <div class="aui-group">
            <div class="aui-item">
                Your content here
            </div>
            <div class="aui-item">
                Your content here
            </div>
        </div>
    </noscript>
</aui-docs-example>

<h4>Implementation tips</h4>
<ul>
    <li>Add an aui-group for each discrete group of content - by default, they behave as rows.</li>
    <li>Add as many aui-item elements to each group as you want - by default, they behave as columns.</li>
    <li>Do not style the groups and items directly - treat them strictly as containers to divide up areas of the page (see notes below).</li>
</ul>
<p>Setting item widths:</p>
<ul>
    <li>By default, items will be distributed evenly. Add two, they'll be 50% each; add four, 25% each; etc.</li>
    <li>If you set one item to a fixed width, the remaining items will divide the remaining space evenly amongst themselves.</li>
    <li>For simple groups, we recommend using a class on the aui-group, with first- last- and nth-child selectors.</li>
</ul>
<h3>Options</h3>
<p>There are two preset helpers for common two- and three-column layouts. They are invoked by setting the class on the <code>aui-group</code> and using the required number of items.</p>
<table class="aui">
    <thead>
        <tr>
            <th>Preset</th>
            <th>Group class</th>
            <th>Number of items</th>
            <th>Effect</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Split group</td>
            <td><code>aui-group-split</code>
            </td>
            <td>2</td>
            <td>First column is aligned left, second column is aligned right.</td>
        </tr>
        <tr>
            <td>Trio group</td>
            <td><code>aui-group-trio</code>
            </td>
            <td>3</td>
            <td>First column is aligned left, middle column is center-aligned, third/last column is aligned right.</td>
        </tr>
    </tbody>
</table>
