---
component: Restful table
layout: main-layout.html
analytics:
  pageCategory: component
  component: restful-table
---

<h3>Summary</h3>

<p>A table whose entities/rows are retrieved, added and updated via rest (<a
        href="http://en.wikipedia.org/wiki/Create,_read,_update_and_delete" target="_blank">CRUD</a>). It uses <a
        href="http://documentcloud.github.io/backbone/" target="_blank">backbone.js</a> to sync the tables state
    back to the server and vice versa, avoiding page refreshes.</p>

<h3>Status</h3>
<table class="aui summary">
    <tbody>
        <tr>
            <th>API status:</th>
            <td><span class="aui-lozenge aui-lozenge-success">general</span></td>
        </tr>
        <tr>
            <th>Included in AUI core?</th>
            <td><span class="aui-lozenge aui-lozenge-current">Not in core</span> You must explicitly require the web
                resource key.
            </td>
        </tr>
        <tr>
            <th>Web resource key:</th>
            <td class="resource-key" data-resource-key="com.atlassian.auiplugin:aui-restfultable"><code>com.atlassian.auiplugin:aui-experimental-restfultable</code>
            </td>
        </tr>
        <tr>
            <th>AMD Module key:</th>
            <td class="resource-key">N/A</td>
        </tr>
        <tr>
            <th>Experimental since:</th>
            <td>3.7.0</td>
        </tr>
        <tr>
            <th>General API status:</th>
            <td>5.8</td>
        </tr>
    </tbody>
</table>
<h3>Working example</h3>
<p>An example can be found by running the AUI refapp, and navigating to the restfultable test page</p>

<h3>Code</h3>
<p>Below is an example table to configure versions for a JIRA project.</p>
<noscript is="aui-docs-code" type="text/html" lang="java">
    /**
    * URLS must follow this pattern
    * create POST /urlOfRestResource
    * read GET /urlOfRestResource[/id]
    * update PUT /urlOfRestResource/id
    * delete DELETE /urlOfRestResource/id
    */
    @Path ("version")
    @Consumes ({ MediaType.APPLICATION_JSON })
    @Produces ({ MediaType.APPLICATION_JSON })
    public class VersionResource
    {
        @AnonymousAllowed
        @GET
        @Path ("{id}")
        public Response getVersion(@PathParam ("id") final String id)
        {
        }

        @PUT
        @Path ("{id}")
        public Response updateVersion(@PathParam ("id") final String id, final VersionBean bean)
        {
        }


        @POST
        public Response createVersion(final VersionBean bean)
        {
        }

        @DELETE
        @Path ("{id}")
        public Response delete(@PathParam ("id") final String id)
        {
        }
    }
</noscript>
<noscript is="aui-docs-code" type="text/html">
    <table id="project-config-versions-table"></table>
</noscript>
<noscript is="aui-docs-code" type="text/js">
    new AJS.RestfulTable({
        autoFocus: true,
        el: jQuery("#project-config-versions-table"),
        allowReorder: true,
        resources: {
            all: "rest/project/HSP/versions?expand=operations",
            self: "rest/version"
        },
        columns: [
            {
                id: "status",
                header: ""
            },
            {
                id: "name",
                header: AJS.I18n.getText("common.words.name")
            },
            {
                id: "description",
                header: AJS.I18n.getText("common.words.description")
            },
            {
                id: "releaseDate",
                header: AJS.I18n.getText("version.releasedate")
            }
        ]
    });
</noscript>
<h3>Options</h3>

<p>The following options are available when creating a new AJS.RestfulTable.</p>
<table class="aui">
    <thead>
    <tr>
        <th>Required</th>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Default</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success table-icon">required option</span></td>
        <td><p> el </p></td>
        <td><p> The &lt;table&gt; element </p></td>
        <td><p> String, HTMLElement, jQuery </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success table-icon">required option</span></td>
        <td><p> resources </p></td>
        <td><p> A map of resources: <br class="atl-forced-newline"></p>
            <ul>
                <li>all - url or function that returns a collection of all table entities</li>
                <li>self - url to sync entity to server using CRUD</li>
            </ul>
        </td>
        <td><p> String, Function <br class="atl-forced-newline">String </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><span class="aui-icon aui-icon-small aui-iconfont-success table-icon">required option</span></td>
        <td><p> columns </p></td>
        <td><p> An array of columns to render <br class="atl-forced-newline"></p>
            <noscript is="aui-docs-code" type="text/js">
                {
                id: String, // entity property
                header: String, // &lt;th&gt; contents
                allowEdit: Boolean, // (optional) Can the cell be edited. Default is true.
                fieldName: String, // (optional) name or id of field to focus
                editView: AJS.RestfulTable.CustomEditView, // (optional) view to render when in edit mode
                createView: AJS.RestfulTable.CustomCreateView, // (optional) view to render when in create mode
                readView: AJS.RestfulTable.CustomReadView, // (optional) view to render when in read mode
                emptyText: String, // (optional) text to show when field is empty
                }
            </noscript>
        </td>
        <td><p> Array </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td></td>
        <td><p> noEntriesMsg </p></td>
        <td><p> A message that will be displayed in the table when there are no entries </p></td>
        <td><p> String </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td></td>
        <td><p> model </p></td>
        <td><p> Backbone.Model representation used for entities AJS.RestfulTable.EntryModel </p></td>
        <td><p> AJS.RestfulTable.EntryModel </p></td>
        <td><p> AJS.RestfulTable.EntryModel </p></td>
    </tr>
    <tr>
        <td></td>
        <td><p> reverseOrder </p></td>
        <td><p> When all the entries are retrieved from the "all" resource, reverse the order. </p></td>
        <td><p> Boolean </p></td>
        <td><p> false </p></td>
    </tr>
    <tr>
        <td></td>
        <td><p> autoFocus </p></td>
        <td><p> Whether or not to auto focus the first field of the create row </p></td>
        <td><p> Boolean </p></td>
        <td><p> false </p></td>
    </tr>
    <tr>
        <td></td>
        <td><p> loadingMsg </p></td>
        <td><p> A message that will be displayed in the table when it is loading </p></td>
        <td><p> String </p></td>
        <td><p> Loading</p></td>
    </tr>
    <tr>
        <td></td>
        <td><p> allowCreate </p></td>
        <td><p> Whether or not user can create new entries </p></td>
        <td><p> Boolean </p></td>
        <td><p> true </p></td>
    </tr>
    <tr>
        <td></td>
        <td><p> allowEdit </p></td>
        <td><p> Whether or not the user can edit table </p></td>
        <td><p> Boolean </p></td>
        <td><p> true </p></td>
    </tr>
    <tr>
        <td></td>
        <td><p> allowReorder </p></td>
        <td><p> Whether or not the user can reorder rows </p></td>
        <td><p> Boolean </p></td>
        <td><p> false </p></td>
    </tr>
    <tr>
        <td></td>
        <td><p> allowDelete </p></td>
        <td><p> Whether or not a row can be deleted </p></td>
        <td><p> Boolean </p></td>
        <td><p> true </p></td>
    </tr>
    <tr>
        <td></td>
        <td><p> createPosition </p></td>
        <td><p> If set to "bottom", creates new rows at the bottom of the table instead of the top. </p></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td><p> id </p></td>
        <td><p> The id for the table. This id will be used to fire events specific to this instance. </p></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td><p> cancelAccessKey </p></td>
        <td><p> Sets accesskey attribute </p></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td><p> submitAccessKey </p></td>
        <td><p> Sets accesskey attribute </p></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td><p> deleteConfirmation </p></td>
        <td><p> Show confirmation popup before deleting </p></td>
        <td><p> Boolean </p></td>
        <td></td>
    </tr>
    </tbody>
</table>
<h4> Events </h4>

<p>Events have 3 contexts in which they can be triggered.</p><h4>AJS.RestfulTable</h4>
<noscript is="aui-docs-code" type="text/js">
    myRestfulTableInstance.bind(AJS.RestfulTable.Events.INITIALIZED, function () {
        alert("finished setup");
    });
</noscript>
<table class="aui">
    <thead>
    <tr>
        <th><p> Name </p></th>
        <th><p> Description </p></th>
        <th><p> Arguments </p></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><p> AJS.RestfulTable.Events.INITIALIZED </p></td>
        <td><p> triggered when the table has finished initial render </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.ROW_INITIALIZED </p></td>
        <td><p> triggered when a row is rendered </p></td>
        <td><p> AJS.RestfulTable.Row </p></td>
    </tr>
    </tbody>
</table>
<h4> AJS.RestfulTable.EditRow </h4>
<noscript is="aui-docs-code" type="text/js">
    var createRow = myRestfulTableInstance.getCreateRow();
    createRow.bind(AJS.RestfulTable.Events.VALIDATION_ERROR, function (errors) {
        alert('fix your validation errors before creating new row');
    });
</noscript>
<table class="aui">
    <thead>
    <tr>
        <th><p> Name </p></th>
        <th><p> Description </p></th>
        <th><p> Arguments </p></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><p> AJS.RestfulTable.Events.CANCEL </p></td>
        <td><p> Switches row back to read only mode, restoring values None</p></td>
        <td>None</td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.SAVE </p></td>
        <td><p> Sends updated values back to server and switches back to readonly mode &lt;boolean&gt; - whether to
            focus read-only view </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.CREATED </p></td>
        <td><p> Triggered when a new entry has been created </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.FOCUS </p></td>
        <td><p> Gives focused style, removing focus from any other row. </p></td>
        <td><p> &lt;string&gt; - name of field to focus </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.BLUR </p></td>
        <td><p> Removes focused style, restoring focus back to the createRow </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.SUBMIT_STARTED </p></td>
        <td><p> Triggered when update/create request to server started </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.SUBMIT_FINISHED </p></td>
        <td><p> Triggered when update/create request to server finished </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.VALIDATION_ERROR </p></td>
        <td><p> Triggered when server returns validation errors </p></td>
        <td><p> Object - errors </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.RENDER </p></td>
        <td><p>Triggered when row has rendered </p></td>
        <td><p> None </p></td>
    </tr>
    </tbody>
</table>
<h4>AJS.RestfulTable.Row</h4>
<noscript is="aui-docs-code" type="text/js">
    myRestfulTableInstance.bind(AJS.RestfulTable.Events.ROW_INITIALIZED, function (row) {
        row.bind(AJS.RestfulTable.Events.RENDER, function () {
            this.$el.addClass("myclass");
        });
    });
</noscript>
<table class="aui">
    <thead>
    <tr>
        <th><p> Name </p></th>
        <th><p> Description </p></th>
        <th><p> Arguments </p></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><p> AJS.RestfulTable.Events.FOCUS </p></td>
        <td><p> Gives focused style, removing focus from any other row. </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.BLUR </p></td>
        <td><p> Removes focused style, restoring focus back to the createRow </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.UPDATED </p></td>
        <td><p> Fades row from blue to transparent </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.MODAL </p></td>
        <td><p> Disables all interactions on table, except for this row </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.MODELESS </p></td>
        <td><p> Enables all interactions on table </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.EDIT </p></td>
        <td><p> Switches from readonly to edit mode </p></td>
        <td><p> None </p></td>
    </tr>
    <tr>
        <td><p> AJS.RestfulTable.Events.RENDER </p></td>
        <td><p> Triggered when row has rendered </p></td>
        <td><p> None </p></td>
    </tr>
    </tbody>
</table>
<h4>Methods</h4>

<p>Methods have 3 contexts in which they can be called</p><h4>AJS.RestfulTable</h4>
<table class="aui">
    <thead>
    <tr>
        <th><p> Name </p></th>
        <th><p> Description </p></th>
        <th><p> Arguments </p></th>
        <th><p> Returns </p></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><p> addRow </p></td>
        <td><p> Adds row to collection and renders it </p></td>
        <td><p> &lt;Backbone.Model&gt; model <br class="atl-forced-newline"> &lt;Integer&gt; index </p></td>
        <td><p> AJS.RestfulTable </p></td>
    </tr>
    <tr>
        <td><p> getColumnCount </p></td>
        <td><p> Gets the number of columns in the table </p></td>
        <td><p> None </p></td>
        <td><p> Number </p></td>
    </tr>
    <tr>
        <td><p> isEmpty </p></td>
        <td><p> Returns true if there are no entries in the table </p></td>
        <td><p> None </p></td>
        <td><p> Boolean </p></td>
    </tr>
    <tr>
        <td><p> getModels </p></td>
        <td><p> Gets backbone collection </p></td>
        <td><p> None </p></td>
        <td><p> Backbone.Collection </p></td>
    </tr>
    <tr>
        <td><p> getTable </p></td>
        <td><p> Gets jQuery element for &lt;table&gt; </p></td>
        <td><p> None </p></td>
        <td><p> jQuery </p></td>
    </tr>
    <tr>
        <td><p> getTableBody </p></td>
        <td><p> Gets jQuery element for &lt;tbody&gt; </p></td>
        <td><p> None </p></td>
        <td><p> jQuery </p></td>
    </tr>
    <tr>
        <td><p> getCreateRow </p></td>
        <td><p> Gets view used for create row (first row in table) </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.EditRow </p></td>
    </tr>
    <tr>
        <td><p> showNoEntriesMsg </p></td>
        <td><p> Shows message options.noEntriesMsg to the user if there are no entries </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable </p></td>
    </tr>
    <tr>
        <td><p> removeNoEntriesMsg </p></td>
        <td><p> Removes message options.noEntriesMsg to the user if there ARE entries </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable </p></td>
    </tr>
    <tr>
        <td><p> edit </p></td>
        <td><p> Converts readonly row to editable view </p></td>
        <td><p> &lt;String&gt; field - field name to focus <br class="atl-forced-newline"> AJS.RestfulTable.Row row
        </p></td>
        <td><p> AJS.RestfulTable.EditRow </p></td>
    </tr>
    </tbody>
</table>
<h4>AJS.RestfulTable.EditRow</h4>
<table class="aui">
    <thead>
    <tr>
        <th><p> Name </p></th>
        <th><p> Description </p></th>
        <th><p> Arguments </p></th>
        <th><p> Returns </p></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><p> hasFocus </p></td>
        <td><p> Returns true if row has focused class </p></td>
        <td><p> None </p></td>
        <td><p> Boolean </p></td>
    </tr>
    <tr>
        <td><p> focus </p></td>
        <td><p> Focus specified field, first field or the first field with an error (in order) </p></td>
        <td><p> &lt;String&gt; field - field name to focus </p></td>
        <td><p> AJS.RestfulTable.EditRow </p></td>
    </tr>
    <tr>
        <td><p> unfocus </p></td>
        <td><p> Unfocuses row and disables its submit button </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.EditRow </p></td>
    </tr>
    <tr>
        <td><p> disable </p></td>
        <td><p> Disables all fields and fades out row </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.EditRow </p></td>
    </tr>
    <tr>
        <td><p> enable </p></td>
        <td><p> Enables all fields, and returns row to full opacity </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.EditRow </p></td>
    </tr>
    <tr>
        <td><p> showLoading </p></td>
        <td><p> Shows loading indicator </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.EditRow </p></td>
    </tr>
    <tr>
        <td><p> hideLoading </p></td>
        <td><p> Hides loading indicator </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.EditRow </p></td>
    </tr>
    <tr>
        <td><p> submit </p></td>
        <td><p> Serialises form fields and updates client and server model </p></td>
        <td><p> &lt;Boolean&gt; focusUpdated - flag of whether to focus read-only view after successful
            submission </p></td>
        <td><p> AJS.RestfulTable.EditRow </p></td>
    </tr>
    </tbody>
</table>
<h4>AJS.RestfulTable.Row</h4>
<table class="aui">
    <thead>
    <tr>
        <th><p> Name </p></th>
        <th><p> Description </p></th>
        <th><p> Arguments </p></th>
        <th><p> Returns </p></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><p> sync </p></td>
        <td><p> Save changed attributes back to server and re-render </p></td>
        <td><p> &lt;object&gt; attr </p></td>
        <td><p> AJS.RestfulTable.Row </p></td>
    </tr>
    <tr>
        <td><p> refresh </p></td>
        <td><p> Get model from server and re-render </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.Row </p></td>
    </tr>
    <tr>
        <td><p> edit </p></td>
        <td><p> Switches row into edit mode </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.Row </p></td>
    </tr>
    <tr>
        <td><p> focus </p></td>
        <td><p> Focuses row </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.Row </p></td>
    </tr>
    <tr>
        <td><p> unfocus </p></td>
        <td><p> Unfocuses row </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.Row </p></td>
    </tr>
    <tr>
        <td><p> showLoading </p></td>
        <td><p> Shows loading indicator </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.Row </p></td>
    </tr>
    <tr>
        <td><p> hideLoading </p></td>
        <td><p> Hides loading indicator </p></td>
        <td><p> None </p></td>
        <td><p> AJS.RestfulTable.Row </p></td>
    </tr>
    </tbody>
</table>
<h4> Setup </h4>

<p>For a simple table you need only configure 3 options:</p>
<ul>
    <li> el - The element you wish to populate
        <li> resources</li>
        <ul>
            <li> all - Rest resource OR function that retrieves all entities</li>
            <li> self - Rest resource to sync a single entities state (CRUD)</li>
        </ul>
        <li> columns - Which properties of the entities to render. The id of a column maps to the property of an
            entity.
        </li>
        This simple table can be extended by specifying your own model and column views:
        <ul>
            <li> model - Allows you to modify and format what is sent and received from the server for each entity/row.
                Also allowing additional logic to be supplied to your views.
            </li>
            <li> column views - Allow you to specify custom renderers for the read/create/edit modes of individual
                columns.
            </li>
        </ul>
    </li>
</ul>
